<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE ROOT PUBLIC "" ""[]>
<config name="Unibonn-1" w="400" h="500" port="51305" opacity="0.9" timeout="50">
  <tab name="vvvv">
    <WatchdogCommand name="Unibonn.exe" w="300" delayPatch="10" delayScript="10" delayCheck="10" singleinstance="true" executable="F:\projects\unibonn\export\unibonn-1\unibonn-1.exe" autostart="false" watchfile="vvvv.watchfile">1.23</WatchdogCommand>
  </tab>
  <tab name="Notepad">
    <WatchdogCommand name="Notepad.exe" w="300" delayPatch="5" delayScript="5" delayCheck="5" singleinstance="false" executable="C:\Windows\System32\notepad.exe" autostart="false">118</WatchdogCommand>
  </tab>
  <tab name="Browser">
    <WatchdogCommand name="edge" w="300" delayPatch="15" delayScript="240" delayCheck="15" singleinstance="false" executable="msedge.exe --kiosk https://vvvv.org/ --edge-kiosk-type=fullscreen --no-first-run  --args --disable-web-security  --user-data-dir=C:\edge-user-data --disable-pinch" autostart="false">1835</WatchdogCommand>
  </tab>
  <tab name="heartbeat">
    <HeartBeatCommand name="edge" w="300" h="40" target="192.168.30.60" port="51306" mode="UDP">11</HeartBeatCommand>
  </tab>
  <tab name="Parameters">
    <VolumeCommand name="volume" w="200" h="120" orientation="Horizontal" default="0.5">1.25</VolumeCommand>
  </tab>
  <tab name="Power">
    <ShutDownCommand name="shutdown" w="300" h="100" delay="10">2025-08-06T18:30:23.743243+02:00</ShutDownCommand>
    <RestartCommand name="restart" w="300" h="100" delay="10">2025-05-06T16:45:08.2172914+02:00</RestartCommand>
  </tab>
</config>